$cranepurple800: #5c1349 !default;
$cranepurple900: #4e0d3a !default;
$cranepurple700: #71135c !default;
$cranered400: #f7363e !default;
$white: #fff !default;
$purple: #6200ee !default;
$redtovalid: #d50000 !default;

$tmwrapperboxshadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12) !default;

$tm50percent: 50% !default;
$tmtranslatetransform: translate(-50%, -50%) !default;
$mesaruelength: 3.125rem !default;
$tmopacity: opacity 0.15s linear !default;
$paddingsrlheader: 1.5rem !default;

:export {
  cranepurple800: $cranepurple800;
  cranepurple900: $cranepurple900;
  cranepurple700: $cranepurple700;
  cranered400: $cranered400;
  white: $white;
  purple: $purple;
  opacity: $tmopacity;
}
